
@{
    ViewBag.Title = "Index";
}

<h2>Admin</h2>
<p>@Html.ActionLink("Users", "Users", new { Area = "Admin" }, new { })</p>
<p>@Html.ActionLink("Courses", "Courses", new { Area = "Admin" }, new { })</p>

