<section id="user-info">
    <div class="left half">
        @if (Model.User != null && Model.User.ProfilePicture != null)
        {
            <img src="@Url.Content(Model.User.ProfilePicture)" alt="Profile Picture" />
        }
        else
        {
            @Html.Raw("No profile picture");
        }
        
    </div>
    <div class="right half">
        <h3 id="user-name">Stanley Hudson</h3>
        <div id="user-data">53 Years Old, Male</div>
        <div id="user-desc">My Name is Stanley. I work at Dunder Mifilin Paper Company.</div>
        <div class="button"><a href="@Url.Action("EditProfile", "Manage", new { userId = "123" })">Edit Profile</a></div>
    </div>
    <div class="clear"></div>
</section>
<secion id="user-courses">
    <div id="tabbedContainer" class="tabMe">
        <div class="tab" data-name="My Classes">
            <p>Some classes here</p>
        </div>
        <div class="tab" data-name="My Courses">
            <p>Some Courses here</p>
        </div>
    </div>
</secion>
<script>
    $('#tabbedContainer').tabMe();
</script>