@import url(https://fonts.googleapis.com/css?family=Roboto);

@font-face {
    font-family: 'finger_paint';
    src: url('/Content/font/fingerpaintregular-webfont.eot');
    src: url('/Content/font/fingerpaintregular-webfont.eot?#iefix') format('embedded-opentype'), url('/Content/font/fingerpaintregular-webfont.woff2') format('woff2'), url('/Content/font/fingerpaintregular-webfont.woff') format('woff'), url('/Content/font/fingerpaintregular-webfont.ttf') format('truetype'), url('/Content/font/fingerpaintregular-webfont.svg#finger_paintregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
//Initial Variables
$p-font: Roboto, sans-serif; // paragraph font
$dh-font: finger_paint, sans-serif; // desktop header font
/* Mixin */
@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* Reduntant syles */
.icon {
    width: 45px;
    height: 45px;
    background-repeat: no-repeat !important;
    background-position: center !important;    
    background-size: contain !important;
}

.teal-emp {
    color: #45bab6;
    text-transform: uppercase;
}

.viol-emp {
    color: #414da2;
    text-transform: uppercase;
}

.right {
    float: right;
}

.left {
    float: left;
}

header, footer {
    background-color: #333333;
}
/* general styles*/
.clear {
    clear: both;
}

ul, ol {
    list-style: none;
    padding: 0;
}

body {
    font-family: $p-font;
    font-size: 1em;
}

a {
    text-decoration: none;
    color: white;
}

.center {
    text-align: center;
}

.half {
    width: 48%;
}

.item > img {
    max-width: 240px;
}
/* Header Styles Begin */
#root-container {
    width: 375px;
}

header {
    text-align: center;
    position: relative;
    z-index: -1;
    div {
        display: inline-block;
    }
}

#nav-profile {
    @extend .icon;
    background: url('/Content/gfx/acc-icon.png');
}

#logo {
    @extend .icon;
    background: url('/Content/gfx/logo.png');
    width: 275px;
    background-size: 180px 45px;
}

#mobile-burger {
    @extend .icon;
    background: url('/Content/gfx/mobile-menu.png');
}

#menu-container {
    display: inline-block;
    width: 45px;
    height: 45px;
}
.user-action-group {
    display: inline-block;
}

#mobile-menu-container {
    position: relative;
}

#mobile-menu {
    position: relative;
    width: 100%;

    li {
        padding-top: 10px;
        width: 100%;
    }

    li:hover {
        color: #333333;
        background: white;

        a {
                color: #333333;
        }
    }

    a {
        color: white;
        font-family: $dh-font;
    }
}

#main-menu, #mobile-menu {
    display: none;
}
/* Header Styles End*/
/* Footer Styles Begin*/
footer {
    color: white;
    width: 100%;
    .to-top {
        @extend .icon;
            background: url("/Content/gfx/to-top.png");
            width: 100%;
    height: 80px;
    }
}

.foot-content-container {
    width: 100%;
    overflow: hidden;
    overflow-wrap: break-word;
    text-align: center;
    max-width: 320px;
    margin: 16px auto;
}
.foot-title {
}

#social-icons {
    li {
        display: inline-block;
        @extend .icon;
    }

    #fb {
        background: url('/Content/gfx/fb-icon.png');
    }

    #pin {
        background: url('/Content/gfx/pin-icon.png');
    }

    #twit {
        background: url('/Content/gfx/twit-icon.png');
    }
}
/* Footer Styles End*/
/* Content Styles Start*/
#body-container {
    width: 100%;
}

section {
    width: 100%;
}

#home-cta-bg {
    height: 180px;
    background: url("/Content/gfx/Billed.jpg") no-repeat;
    background-position: -300px -280px;
    color: white;
    font-size: 1.4em;
    margin: 0 auto;

    
}

button, .button {   
    width: 120px;
    height: 1.5em;
    line-height: 1.45em;
    background: #333;
    color: white;
    font-family: $dh-font;
    border: none;
    text-align: center;
    margin: 0 auto;
}

#home-item-boxes {
    width: 100%;
    text-align: center;
}

h1 {
    font-family: $dh-font;
    font-size: 1.6em;
    line-height: 1.5em;
}

h2 {
    font-size: 1.3em;
    line-height: 1.1em;
}

.home-item-image {
    width: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 160px;
}

#home-item-icon-ca {
    background-image: url('/Content/gfx/home-ca-icon.png');
    @extend .home-item-image;
}

#home-item-icon-fc {
    background-image: url('/Content/gfx/home-fc-icon.png');
    @extend .home-item-image;
}

#home-item-icon-cc {
    background-image: url('/Content/gfx/home-cc-icon.png');
    @extend .home-item-image;
}

.form {
    .form-group {
        width: 100%;
        padding-top: 2px;
        text-align: center;

        input[type=text], input[type=password] {
            margin: 0 auto;
            display: block;
        }
    }
}
#user-actions-desktop {
    display: none;
}

.carousel-frame {
    width: 100%;
    margin: 0 auto;

    h1 {
        text-align: center;
    }

    .item {
        text-align: right;
        width: 100%;
    }
}

.owl-dots { // Fix for carousel nav float
    clear: both;
}


.big-btn {
    height: 40px;
    width: 48%;
    max-width: 240px;
    font-size: 2em;
    line-height: 40px;
    background: #333;
    color: white;
    font-family: $dh-font;
    border: none;    
    text-indent: 30px;
}
.btn-right {
    text-align: right;
}
.btn-left {
    text-align: left;
}
/* For tabMe Plugin */
.tabMeMenu {
    height: 30px;
    float: left;
    clear: both;
}

.tabMeMenu li {
    @extend .button;
    width: auto;
    float: left;
    margin-right: 3px;
}

.tabMeMenu li.current {
    position: relative;
    background-color: #fff;
    border-bottom: 1px solid #fff;
    z-index: 5;
}

.tabMeMenu li a {
    padding: 10px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
}

.tabMeMenu .current a {
    color: black;
}

.tabContainer {
    border: 1px solid #d4d4d1;
    background-color: #fff;
    float: left;
    margin-bottom: 20px;
    width: auto;
}

.tab {
    width: 660px;
    padding: 20px;
}

/*Registration Page*/
/*I wasn't sure about that so instead of breaking login
    I decided to make reg-
*/
.validation-errors{
    color:red;
    font-style: italic;
    text-align: left;
    text-indent: 32px;
}

.reg-form-helper {
    font-style: italic;
    text-align: left;
    text-indent: 32px;
}

.reg-form {
    background-color: white;

    .reg-form-group {
        width: 100%;
        padding-top: 2px;
        text-align: center;
        /*Here can go more types*/
        /*input[type=text], input[type=password] {*/
        .form-control {
            margin: 10px auto;
            display: block;
            width: 90%;
            border: none;
            border-bottom: 2px solid #222;
            color: #47b7b7;
            font-size: x-large;
        }

        .button {
            background-color: #333;
            width: 90%;
            font-size:x-large;
            margin: 10px auto;
        }
    }
}
#user-action-mobile-menu {
    li {
        padding-top: 10px;
    }

}
#home-cta {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    
    @include vertical-align();
}
// Slideout styling
body {
  width: 100%;
  height: 100%;
}

.slideout-menu {
  position: fixed;
  left:-256px;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  width: 256px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: none;
  background: #333;
  color: white;
}

.slideout-panel {
  position: relative;
  z-index: 1;
}

.slideout-open .slideout-menu {
  display: block;
}
